<div *ngIf="question">
  <h3>Question {{(question | async)?.id}} details!</h3>
  <div><label>category: </label>{{(question | async)?.category}}</div>
  <div><label>type: </label>{{(question | async)?.type}}</div>
  <div>
    <label>text: </label>
    {{(question | async)?.text}}
  </div>
  <form id="audio-form" action="#">
    <input id="audioCapture" type="file" accept="audio/*,capture=microphone" (change)="uploadAudio($event)" style="display:none">
    <button id="submitAudio" title="Submit your response recording to be graded" (click)="onAudioClick($event)"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
      Submit Audio Response
    </button>
  </form>
  <recording></recording>
  <response-list></response-list>
  <p>
    <button (click)="gotoQuestions()">Back</button>
  </p>
</div>
