<!--
<div id="questions-card-container" class="mdl-cell mdl-cell--12-col mdl-grid">
  <div id="questions-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <ul class="questions mdl-list">
        <li *ngFor="let question of questions | async" class="mdl-list__item" [class.selected]="isSelected(question.$key)"
          (click)="onSelect(question.$key)">
          <span class="question mdl-list__item-primary-content">
            <span *ngIf="question.id"><label>{{ question.id }}.</label></span>
            <span *ngIf="question.text"><a>{{ question.text }}/</a></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
-->
<md-list>
  <h3 md-subheader>Speaking</h3>
  <md-list-item *ngFor="let question of questions | async" 
      [class.selected]="isSelected(question.$key)" (click)="onSelect(question.$key)">
    <p md-line>
      <span> {{question.$key}}. </span>
      <span> {{question.text}} </span>
    </p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>