
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.question-item.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.question-item:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}