<h2>Answer question</h2>
<div>
  <p>
    <label>Id:</label>
    <input type="text" ng-model="question.id" disabled="true" />
  </p>
  <p>
    <label>Type:</label>
    <input type="text" ng-model="question.type" autofocus="true" />
  </p>
  <p>
    <label>Description:</label>
    <input type="text"  ng-model="question.description" />
  </p>
</div>
<form ng-submit="submitAnswer()">
  <p>
    <label>Answer:</label>
    <input type="text" ng-model="content" />
  </p>
  <input type="submit" class="btn" />
</form>
