<h2>Answer question</h2>
<form ng-submit="submitAnswer()">
  <p>
    <label>Id:</label>
    <input type="text" ng-model="question.id" disabled="true" />
  </p>
  <p>
    <label>Type:</label>
    <input type="text" ng-model="question.type" autofocus="true" />
  </p>
  <p>
    <label>Description:</label>
    <input type="text"  ng-model="question.description" />
  </p>
  <p>
    <label>Answers:</label>
    <div ng-repeat="answer in anwers | orderBy:'content'">
      {{ $index + 1 }}. <b>{{ answer.content }}</b>
    </div>
    <label>New answer:</label>
    <input type="text"  ng-model="answer.content" />
  </p>
  <input type="submit" class="btn" />
</form>
