<h3><a href="{{ url }}" class="btn">{{ url_linktext }}</a></h3>
<h2>Questions</h2>
<button ng-click="addNewQuestion()">Add a new question</button>
<div ng-repeat="question in questions | orderBy:'type' | orderBy:'description'">
  <p><button ng-click="delete(question)">delete</button>
    <button ng-click="update(question)">update</button>
    {{ $index + 1 }}. <b>{{ question.type }}, {{ question.description }}</b>
    <button ng-click="answer(question)">answer</button>
    <div ng-repeat="answer in answers | filter:{question_id:question.id}">
      {{ $index + 1 }}. Q: {{answer.question_description}} A: {{ answer.content }}
    </div></p>
</div>
<h2>All Attempted Answers</h2>
<div ng-repeat="answer in answers | orderBy:'content'">
  {{ $index + 1 }}. Q: {{answer.question_description}} A: {{ answer.content }}
</div>
