#user-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 22px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}
#user-container #user-pic {
    top: -3px;
    position: relative;
    display: inline-block;
    background-image: url('/assets/images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
}
#user-container #user-name {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
}
@media screen and (max-width: 610px) {
    header {
        height: 113px;
        padding-bottom: 80px !important;
    }
    #user-container {
        top: 72px;
        background-color: rgb(3,155,229);
        height: 38px;
        padding-top: 2px;
        padding-right: 2px;
    }
    #user-container #user-pic {
        top: 2px;
        width: 33px;
        height: 33px;
        background-size: 33px;
    }
}
