<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">TOEFL Grader</span>
      <div class="mdl-layout-spacer"></div>
      <!-- Sign in status bar -->
      <login></login>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <nav class="mdl-navigation">
        <a routerLink="/problemsets/reading" routerLinkActive="active" class="mdl-layout__tab is-active">Reading</a>
        <a routerLink="/problemsets/listening" routerLinkActive="active" class="mdl-layout__tab">Listening</a>
        <a routerLink="/problemsets/speaking" routerLinkActive="active" class="mdl-layout__tab">Speaking</a>
        <a routerLink="/problemsets/writing" routerLinkActive="active" class="mdl-layout__tab">Writing</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">TOEFL Grader</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Practice</a>
      <a class="mdl-navigation__link" href="">TOEFL Test Simulation</a>
      <a class="mdl-navigation__link" href="">Dashboard</a>
    </nav>
  </div>

  <!-- <main class="mdl-layout__content"> -->
     <router-outlet></router-outlet>
  <!-- </main> -->
</div>
