<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- Header section containing logo -->
  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <h3><i class="material-icons">language</i> TOEFL Grader</h3>
      </div>
      <div id="user-container">
        <div *ngIf="currentUser" id="user-pic" [ngStyle]="profilePicStyles"></div>
        <div *ngIf="currentUser" id="user-name">{{ (af.auth | async)?.auth.displayName }}</div>
        <button *ngIf="currentUser" id="sign-out" (click)="logout()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          Sign-out
        </button>
        <button *ngIf="!currentUser" id="sign-in" (click)="login()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          <i class="material-icons">account_circle</i>Sign-in with Google
        </button>
      </div>
    </div>
  </header>

  <main class="mdl-layout__content mdl-color--grey-100">
    <div id="questions-card-container" class="mdl-cell mdl-cell--12-col mdl-grid">
      <!-- Questions container -->
      <div id="questions-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <ul class="questions">
            <li *ngFor="let question of questions | async"
                [class.selected]="question === selectedQuestion"
                (click)="onSelect(question)">
              <div class="question">
                <span *ngIf="question.id">{{ question.id }}.</span>
                <span *ngIf="question.text"><a>{{ question.text }}/</a></span>
                <!--img *ngIf="question.imageUrl" [src]="question.imageUrl + (question.moderated ? '&amp;moderated=1' : '')" !-->
              </div>
              <div>
                <span *ngIf="question.category">{{ question.category }}</span>
                <span *ngIf="question.type">{{ question.type }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <question-detail [question]="selectedQuestion"></question-detail>
    </div>
  </main>
</div>
