<!-- Three Line List with secondary info and action -->
<style>
.demo-list-three {
  width: 650px;
}
</style>

<div>
  <h4>Recorded Responses</h4>
  <ul class="demo-list-three mdl-list">
    <li class="mdl-list__item mdl-list__item--three-line"
        *ngFor="let response of responses | async">
      <span class="mdl-list__item-primary-content">
        <audio controls>
          <source src="{{response.audioUrl}}" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
      </span>
      <span class="mdl-list__item-secondary-content">{{ response.createdAt }}</span>
    </li>
  </ul>
</div>
